[submodule "image-optimization"]
	path = image-optimization
	url = git@bitbucket.org:brandastic/image-optimization-script.git
[submodule "public_html/wp-content/plugins/popup-lightbox"]
	path = public_html/wp-content/plugins/popup-lightbox
	url = git@bitbucket.org:brandastic/popup-lightbox-plugin.git
[submodule "public_html/wp-content/plugins/brandastic-slider"]
	path = public_html/wp-content/plugins/brandastic-slider
	url = git@bitbucket.org:brandastic/brandastic-slider.git
[submodule "public_html/wp-content/plugins/woocommerce"]
	path = public_html/wp-content/plugins/woocommerce
	url = https://github.com/woocommerce/woocommerce.git
[submodule "public_html/wp-content/plugins/advanced-custom-fields-pro"]
	path = public_html/wp-content/plugins/advanced-custom-fields-pro
	url = git@bitbucket.org:brandastic/advanced-custom-fields-submodule.git
[submodule "public_html/wp-content/plugins/wp-rocket"]
	path = public_html/wp-content/plugins/wp-rocket
	url = git@bitbucket.org:brandastic/wp-rocket-submodule.git
[submodule "public_html/wp-content/plugins/wps-hide-login"]
	path = public_html/wp-content/plugins/wps-hide-login
	url = git@bitbucket.org:brandastic/wps-hide-login-submodule.git
[submodule "public_html/wp-content/plugins/mailgun"]
	path = public_html/wp-content/plugins/mailgun
	url = https://github.com/mailgun/wordpress-plugin.git
[submodule "public_html/wp-content/plugins/wordpress-seo"]
	path = public_html/wp-content/plugins/wordpress-seo
	url = git@bitbucket.org:brandastic/yoast-seo.git
[submodule "public_html/wp-content/plugins/wp-migrate-db-module"]
	path = public_html/wp-content/plugins/wp-migrate-db-module
	url = git@bitbucket.org:brandastic/wp-migrate-db-submodule.git
[submodule "public_html/wp-content/plugins/gravity-forms-iframe"]
	path = public_html/wp-content/plugins/gravity-forms-iframe
	url = https://github.com/cedaro/gravity-forms-iframe.git
	branch = master
[submodule "public_html/wp-content/plugins/brandastic-landing"]
	path = public_html/wp-content/plugins/brandastic-landing
	url = git@bitbucket.org:brandastic/brandastic-landing-v2.0.git
[submodule "public_html/wp-content/plugins/gravityforms"]
	path = public_html/wp-content/plugins/gravityforms
	url = git@bitbucket.org:brandastic/gravity-forms-submodule.git
[submodule "public_html/wp-content/plugins/js_composer"]
	path = public_html/wp-content/plugins/js_composer
	url = git@bitbucket.org:brandastic/wpbakery-page-builder.git
