[submodule "image-optimization"]
	path = image-optimization
	url = git@bitbucket.org:brandastic/image-optimization-script.git
[submodule "public_html/wp-content/plugins/popup-lightbox"]
	path = public_html/wp-content/plugins/popup-lightbox
	url = git@bitbucket.org:brandastic/popup-lightbox-plugin.git
[submodule "public_html/wp-content/plugins/brandastic-slider"]
	path = public_html/wp-content/plugins/brandastic-slider
	url = git@bitbucket.org:brandastic/brandastic-slider.git
[submodule "public_html/wp-content/plugins/woocommerce"]
	path = public_html/wp-content/plugins/woocommerce
	url = https://github.com/woocommerce/woocommerce.git
[submodule "public_html/wp-content/plugins/advanced-custom-fields-pro"]
	path = public_html/wp-content/plugins/advanced-custom-fields-pro
	url = git@bitbucket.org:brandastic/advanced-custom-fields-submodule.git
[submodule "public_html/wp-content/plugins/wp-rocket"]
	path = public_html/wp-content/plugins/wp-rocket
	url = git@bitbucket.org:brandastic/wp-rocket-submodule.git
[submodule "public_html/wp-content/plugins/wps-hide-login"]
	path = public_html/wp-content/plugins/wps-hide-login
	url = git@bitbucket.org:brandastic/wps-hide-login-submodule.git
[submodule "public_html/wp-content/plugins/mailgun"]
	path = public_html/wp-content/plugins/mailgun
	url = https://github.com/mailgun/wordpress-plugin.git
	url = git@bitbucket.org:brandastic/wp-migrate-db-submodule.git
[submodule "public_html/wp-content/plugins/wordpress-seo"]
	path = public_html/wp-content/plugins/wordpress-seo
	url = https://github.com/Yoast/wordpress-seo.git
